<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="username" placeholder="Enter Your Email"/>
        <input type="password" name="password" placeholder="Enter Your Password"/>
        <button>Login</button>
    </form>
</body>
</html>