<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <input type="text" name="name" id="name" placeholder="Enter your name"/>
        <input type="text" name="username" id="email" placeholder="Enter your email" required/>
        <input type="text" name="password" id="password" placeholder="Enter your password"/>
        <button>Register</button>
    </form>
</body>
</html>